include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include hl7 *.css
recursive-include hl7 *.csv
recursive-include hl7 *.html
recursive-include hl7 *.ico
recursive-include hl7 *.js
recursive-include hl7 *.json
recursive-include hl7 *.md
recursive-include hl7 *.png
recursive-include hl7 *.py
recursive-include hl7 *.svg
recursive-include hl7 *.txt
recursive-exclude hl7 *.pyc